html {
  height: 100%;
  font-size: 2.777778vw;
}

body {
  min-height: 100vh;
  background: $color-bg-body;
  font-family: $font-family-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: $letter-spacing-base;
  line-height: $line-height-base;
  color: $color-text-default;
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -o-text-size-adjust: none;
}

* {
  padding: 0;
  margin: 0;
  font-family: $font-family-base;
  color: inherit;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  letter-spacing: $letter-spacing-heading;
}

input[type='text'],
textarea,
select {
  font-size: $font-size-medium;
}

p,
ul,
ol,
blockquote {
  font-size: $font-size-medium;
  word-break: keep-all;
}

a {
  text-decoration: none;
  font-size: $font-size-small;
}

ul,
li {
  list-style: none;
}

button {
  border: none;
  background: none;
  font-size: $font-size-small;
  cursor: pointer;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

#main {
  flex: 1;
}

#footer {
  width: 100%;
  border-top: 0.1rem solid $color-divide;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.hidden-on-mobile {
  display: none;

  @include respond-up($breakpoint-sm) {
    display: inline-block;
  }
}

/* ===== Scrollbar CSS ===== */
* {
  scrollbar-width: none;
  -webkit-tap-highlight-color: transparent;
}
*::-webkit-scrollbar {
  width: 0px;
}
*::-webkit-scrollbar-track {
  background: #ffffff;
}

@each $width, $vw-value in $responsive-font-vw-map {
  @include respond-fonts($width, $vw-value);
}

@include set-heading-fonts($heading-sizes-mobile);
@include respond-up($breakpoint-lg) {
  @include set-heading-fonts($heading-sizes);
}
