html {
  height: 100%;
  font-size: 2.777778vw;
}

body {
  min-height: 100vh;
  background: $color-bg-body;
  font-family: $font-family-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $font-size-body;
  letter-spacing: $letter-spacing-base;
  line-height: $line-height-base;
  color: $color-text-default;
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -o-text-size-adjust: none;
}

* {
  padding: 0;
  margin: 0;
  font-family: $font-family-base;
  color: inherit;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

#main {
  flex: 1;
}

#footer {
  width: 100%;
  border-top: 0.1rem solid $color-divide;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

/* ===== Scrollbar CSS ===== */
* {
  scrollbar-width: none;
  -webkit-tap-highlight-color: transparent;
}
*::-webkit-scrollbar {
  width: 0px;
}
*::-webkit-scrollbar-track {
  background: #ffffff;
}

/*! ****************************************
 * $breakpoint-sm: 480px 
 * $breakpoint-md: 600px 
 * $breakpoint-lg: 768px 
 * $breakpoint-xl: 1024px
 * $breakpoint-xxl: 1336px
 * $breakpoint-xxxl: 1920px
 * **************************************** */
@include respond-fonts($breakpoint-sm, 2.083333vw);
@include respond-fonts($breakpoint-md, 1.666666vw);
@include respond-fonts($breakpoint-lg, 1.302083vw);
@include respond-fonts($breakpoint-xl, 0.9765625vw);
@include respond-fonts($breakpoint-xxl, 0.748502vw);
@include respond-fonts($breakpoint-xxxl, 0.520833vw);

@include set-heading-fonts($heading-sizes);
@include respond($breakpoint-lg) {
  @include set-heading-fonts($heading-sizes-mobile);
}
