.table {
  width: 100%;
  border: 1px solid #ddd;
  border-collapse: collapse;

  &:first-child {
    margin-bottom: 3rem;
  }

  th {
    padding: 0.8rem 1rem;
    background-color: $primary-color;
    color: #f8f8f8;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;

    @include respond($breakpoint-lg) {
      font-size: 1.3rem;
    }
  }

  tbody {
    text-align: center;
    word-break: keep-all;

    td {
      padding: 0.8rem 1rem;
      border: 1px solid #fcd8b7;
      border-collapse: collapse;
      font-size: 1.4rem;

      @include respond($breakpoint-lg) {
        font-size: 1.2rem;
      }
    }

    td:first-child {
      background-color: #fff5ec;
      font-size: 1.5rem;
      font-weight: 500;

      @include respond($breakpoint-lg) {
        font-size: 1.3rem;
      }
    }
  }
}
