.upload_area {
  padding: $spacing-32 $spacing-16;
  margin-bottom: $spacing-12;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 0.2rem dashed $border-primary;
  background-color: $bg-secondary;
  border-radius: $radius-m;
  text-align: center;

  & > input[type='file'] {
    display: none;
  }

  p {
    margin-bottom: $spacing-20;
    font-size: $font-size-13;
  }

  &.dragging {
    border-style: solid;
    border-color: $primary-active;
    background-color: $bg-tertiary;

    p {
      color: $primary;
      font-weight: $font-weight-semibold;
    }
  }

  .select_button {
    padding: $spacing-8 $spacing-12;
    display: inline-block;
    border: 0.1rem solid $primary;
    border-radius: $radius-m;
    font-size: $font-size-12;
    font-weight: $font-weight-semibold;
    color: $primary;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: $primary;
      color: $white;
    }

    svg {
      margin-right: $spacing-4;
      transform: translateY(0.1rem);
    }
  }
}
