.container {
  .label {
    margin-bottom: $spacing-xs;
    font-size: $font-size-xl;
    font-weight: $font-weight-semibold;
  }

  .help_text {
    margin-bottom: $spacing-sm;

    li {
      margin-left: $spacing-xl;
      margin-bottom: $spacing-xxs;
      font-size: $font-size-sm;
      color: $color-text-subtle;
      list-style-type: disc;
    }
  }
}

.status_bar {
  margin-bottom: $spacing-sm;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .count_info {
    font-size: $font-size-sm;

    strong {
      color: $color-primary;
      font-weight: $font-weight-semibold;
    }
  }

  .clear_button {
    padding: $spacing-xxs $spacing-xs;
    border-radius: $border-radius-lg;
    font-size: $font-size-xs;
    text-decoration: underline;
    color: $color-status-warning;
    transition: opacity 0.2s;
    cursor: pointer;

    &:hover {
      color: $color-status-warning;
      text-decoration: none;
    }
  }
}
