$item-gap: 0.8rem;

.container {
  margin-bottom: $spacing-md;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: $item-gap;
}

.preview {
  padding: $spacing-xs $spacing-sm;
  display: flex;
  flex-basis: 100%;
  gap: $spacing-sm;
  border: 0.1rem solid $border-inverse;
  border-radius: $radius-m;

  @include respond-up($breakpoint-tablet) {
    flex-basis: calc(50% - ($item-gap / 2));
  }
}

.image_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 8rem;
  width: 8rem;
  height: 8rem;
  border-radius: $radius-m;

  img {
    max-width: 100%;
    max-height: 100%;
    border-radius: $radius-m;
    object-fit: cover;
  }
}

.file_info {
  flex: 1;
  color: $txt-secondary;
  word-break: break-all;

  h5 {
    margin-bottom: $spacing-xxs;
    font-size: $font-size-sm;
    color: $primary;
    @include ellipsis-multi(2);
  }

  .meta_data {
    display: flex;
    flex-direction: column;
    gap: $spacing-nano;

    span {
      display: block;
      font-size: $font-size-xs;
      color: $txt-tertiary;
    }
  }
}

.badge_existing,
.badge_new {
  padding: $spacing-nano $spacing-xs;
  display: inline-block !important;
  width: fit-content;
  border-radius: $radius-xs;
  font-size: $font-size-xs;
  color: $white !important;
}

.badge_existing {
  background-color: $primary;
}

.badge_new {
  background-color: $status-positive;
}

.button_wrap {
  display: inline-flex;
  align-items: center;

  button {
    transition: color 0.2s;

    &:hover {
      color: $primary;
    }
  }
}
