.breadcrumb {
  width: 100%;
  border-bottom: 0.1rem solid $border-primary;
}

.list {
  display: flex;
  align-items: center;
  max-width: $container-max;
  margin: 0 auto;
  padding: 0 $spacing-lg;
  height: 4.6rem;
}

.item {
  display: flex;
  align-items: center;

  &:not(:first-child)::before {
    content: '|';
    color: $border-primary;
    font-size: $font-size-13;
    padding: 0 $spacing-xs;
    user-select: none;
  }
}

.link {
  padding: $spacing-xxs;
  display: inline-flex;
  align-items: center;
  gap: $spacing-xxs;
  color: $txt-tertiary;
  font-size: $font-size-13;
  transition: color $transition-duration-normal $transition-easing-default;

  svg {
    width: $font-size-14;
    height: $font-size-14;
    stroke: currentColor;
  }

  &:hover {
    color: $txt-primary;
    font-weight: $font-weight-semibold;
  }
}
