.input_group {
  margin-bottom: $spacing-12;

  .label {
    margin-bottom: $spacing-8;
    display: block;
    position: relative;
  }

  .label_blind {
    @include blind;

    &::after {
      content: none !important;
    }
  }

  .label_required {
    &::after {
      content: '*';
      margin-left: 0.2rem;
      position: absolute;
      top: 0;
      color: $red-500;
    }
  }

  input {
    padding: $spacing-12;
    display: block;
    width: 100%;
    border: 1px solid $border-primary;
    border-radius: $radius-s;
    outline: none;
    transition: border 0.1s ease-in-out;

    &:focus {
      border: 1px solid $border-strong !important;
    }
  }
}
