.input_group {
  .label {
    margin-bottom: $spacing-8;
    display: block;
    position: relative;
    font-size: $font-size-13;
  }

  .label_blind {
    @include blind;

    &::after {
      content: none !important;
    }
  }

  .label_required {
    &::after {
      content: '*';
      margin-left: 0.2rem;
      position: absolute;
      top: 0;
      color: $red-500;
    }
  }

  input {
    display: block;
    width: 100%;
    height: 4.2rem;
    padding: 0 $spacing-12;
    border: 1px solid $border-primary;
    border-radius: $radius-s;
    outline: none;
    font-size: $font-size-13;
    transition: border 0.1s ease-in-out;

    &::placeholder {
      font-size: $font-size-13;
    }

    &:focus {
      border-color: $border-focus;
    }
  }
}
