.wrap {
  padding-top: $spacing-12;
  text-align: right;

  a {
    padding: $spacing-4 $spacing-8;
    width: 10rem;
    display: inline-block;
    border: 0.1rem solid black;
    border-radius: $radius-s;
    text-align: center;
  }
}
