.file_attachment,
.prev_next {
  dl {
    display: flex;
    flex-direction: column;
  }

  dt {
    min-width: 20%;
    flex-basis: 20%;
    font-size: $font-size-sm;
    font-weight: $font-weight-medium;

    @include respond-up($breakpoint-md) {
      flex-basis: auto;
      min-width: 10rem;
    }
  }

  dd,
  a {
    display: flex;
    font-size: $font-size-sm;
    word-break: break-all;

    svg {
      margin-right: $spacing-xxs;
      width: 1.5rem;
      height: 1.5rem;
    }

    & + dd {
      margin-top: $spacing-xs;
    }
  }

  a {
    &:hover {
      @include link-hover-style;
    }
  }

  .group {
    padding: $spacing-sm 0 $spacing-sm $spacing-md;
    display: flex;
  }
}

.prev_next {
  border-bottom: 0.15rem solid $color-black;

  .group:first-child {
    border-top: 0.15rem solid $color-black;
  }

  .group:last-child {
    border-top: 0.1rem solid $color-border-default;
  }
}
