.header {
  padding: $spacing-sm 0;
  display: flex;
  flex-direction: column;
  border-bottom: 0.2rem solid $color-black;

  .title {
    margin-bottom: $spacing-xs;

    h4 {
      word-break: break-all;
    }
  }

  .info {
    display: flex;
    justify-content: space-between;

    .left,
    .right {
      display: flex;
      justify-content: center;
      align-items: center;

      .icons {
        display: flex;
        align-items: center;
        gap: $spacing-sm;

        li,
        a {
          display: inline-flex;
        }
      }
    }
  }

  dl {
    display: flex;
    gap: $spacing-xs;
  }

  dl:first-child {
    margin-right: $spacing-md;
  }

  dd,
  dt,
  li {
    font-size: $font-size-sm;
  }

  dt {
    font-weight: $font-weight-semibold;
  }
}
