.header {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 0.1rem solid var(--dividing-line-color);
  background: var(--background);
}

.header_wrap {
  padding: 1rem;
  max-width: var(--max-width);
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  margin: 0 auto;
}

.logo {
  flex: 1;
}

.nav {
  ul {
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    font-weight: 500;

    li > a {
      padding: 1rem 0.5rem;
      transition: all var(--text-hover-delay);

      &:hover {
        color: var(--text-hover);
      }
    }
  }
}

.auth {
  ul {
    display: flex;

    li {
      position: relative;
      padding: 0.5rem 1rem;

      &:not(:last-child)::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        width: 1px;
        height: 30%;
        background-color: #ccc;
        transform: translateY(-50%);
      }
    }
  }
}
