.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: white;
  z-index: 99;
}

.header_wrap {
  padding: 1rem;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
  max-width: $max-width;
  height: $header-height;
  background-color: inherit;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.1);
  z-index: 99;

  @include respond($breakpoint-md) {
    padding: 0;
    flex-direction: column;
    gap: 0;
    height: auto;
  }
}

.logo {
  flex: 0 0 auto;

  h1 {
    font-size: 1.8rem;
  }

  @include respond($breakpoint-md) {
    height: $mobile-header-height;
    line-height: $mobile-header-height;
  }
}

.nav {
  margin-left: auto;
  z-index: 99;

  @include respond($breakpoint-md) {
    display: none;
    width: 100%;
    margin-left: 0;

    ul {
      flex-direction: column;
      gap: 0 !important;
    }
  }

  ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 1.2rem;
    font-weight: 500;

    li > a {
      display: inline-block;
      padding: 0.5rem;
      width: 100%;
      transition: color $text-hover-delay;

      @media (hover: hover) and (pointer: fine) {
        &:hover {
          color: $text-hover;
        }
      }

      @include respond($breakpoint-md) {
        text-align: center;
        font-size: 1.2rem;
      }
    }
  }
}

.auth {
  flex: 0 0 auto;
  transition: color $text-hover-delay;

  button,
  a {
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: $text-hover;
    }
  }

  @include respond($breakpoint-md) {
    margin-bottom: 0.6rem;
    display: none;
  }
}

$button-size: 1.6rem;

.toggle {
  position: absolute;
  top: calc(($mobile-header-height - $button-size) / 2);
  right: 1rem;
  display: none;

  svg {
    width: $button-size;
    height: $button-size;
  }

  @include respond($breakpoint-md) {
    display: inherit;

    button {
      display: inherit;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 90;
}

.visible {
  display: block !important;
}
