@import '../mixins';

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: white;
  z-index: 99;

  @include respond($mobile) {
    width: 100%;
  }
}

.header_wrap {
  padding: 1rem;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--max-width);
  height: var(--header-height);
  background-color: inherit;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  z-index: 99;

  @include respond($mobile) {
    padding: 0;
    flex-direction: column;
    gap: 0;
    height: auto;
  }
}

.logo {
  flex: 0 0 auto;

  @include respond($mobile) {
    height: 50px; /* TODO: 변수화 */
    line-height: 50px;

    h1 {
      font-size: 1.2rem;
    }
  }
}

.nav {
  flex: 1;
  width: 100%;
  z-index: 99;

  @include respond($mobile) {
    display: none;

    & > ul {
      flex-direction: column;
      gap: 0 !important;
    }
  }

  ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 1.2rem;
    font-weight: 500;

    li > a {
      display: inline-block;
      padding: 0.5rem;
      width: 100%;
      transition: color var(--text-hover-delay);

      &:hover {
        color: var(--text-hover);
      }

      @include respond($mobile) {
        text-align: center;
        font-size: 0.8rem;
      }
    }
  }
}

.auth {
  flex: 0 0 auto;

  @include respond($mobile) {
    display: none;
  }

  ul {
    display: flex;

    li {
      position: relative;
      padding: 0.5rem;

      &:not(:last-child)::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        width: 1px;
        height: 30%;
        background-color: #ccc;
        transform: translateY(-50%);
      }

      @include respond($mobile) {
        font-size: 0.8rem;
      }
    }
  }
}

.toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: none;

  @include respond($mobile) {
    display: inherit;

    button {
      display: inherit;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 90;
}

.visible {
  display: block !important;
}
