.container {
  margin: 0 auto;
  padding: 5rem 2rem;
  display: flex;
  justify-content: center;
  gap: 1.6rem;
  background-color: $background-dark;
  color: white;

  @include respond($breakpoint-md) {
    flex-direction: column;
    align-items: center;
    text-align: center;

    p {
      margin-bottom: 0.2rem;
    }
  }

  .logo {
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
  }

  .info {
    font-size: 1.1rem;

    address {
      margin-bottom: 0.2rem;
      font-style: normal;

      & > p:first-child {
        margin-right: 1rem;
      }
    }

    p {
      display: inline-block;
    }

    & > div {
      color: #ccc;
    }
  }
}
