.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: white;
  z-index: 99;
}

.header_wrap {
  padding: 1rem 2rem;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
  max-width: $max-width;
  height: $header-height;
  background-color: inherit;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 3px -10px;

  @include respond($breakpoint-md) {
    padding: 0;
    flex-direction: column;
    gap: 0;
    height: auto;
  }
}

.logo {
  flex: 0 0 auto;

  h1 {
    font-size: 1.2rem;
  }

  @include respond($breakpoint-md) {
    height: $header-height;
    line-height: $header-height;
  }
}

.nav {
  margin-left: auto;
  z-index: 99;

  ul {
    display: flex;
    gap: 2rem;

    li {
      font-size: 1rem;
    }
  }
}

.menu_btn {
  display: inline-flex;
  font-size: 1rem;

  svg {
    margin-right: 0.4rem;
  }
}
