.alert_message {
  padding: $spacing-xxs;

  .error {
    font-size: $font-size-md;
    color: $color-status-danger;
  }

  .success {
    font-size: $font-size-md;
    color: $color-status-success;
  }
}
