.wrap {
  margin: $spacing-xxl auto 0;
  max-width: 40rem;
  text-align: center;
}

.header {
  margin-bottom: $spacing-xl;
  position: relative;

  h1 {
    margin-bottom: $spacing-xxs;
    font-size: $font-size-h2-mobile;

    @include respond-up($breakpoint-md) {
      font-size: $font-size-h2;
    }

    span {
      @include blind;
    }
  }

  p {
    font-size: $font-size-small;
    color: $color-text-subtle;
  }
}

.divide {
  position: relative;

  .divide_line {
    position: absolute;
    width: 100%;
    height: 1px;
    left: 50%;
    top: 50%;
    background-color: #ebebeb;
    z-index: -1;
    transform: translate(-50%, -50%);
  }

  .caption {
    padding: 0 $spacing-xs;
    display: inline-block;
    background-color: #fff;
    font-size: $font-size-caption;
    color: $color-text-subtle;
  }
}

.btn_group {
  margin-top: 1rem;
  width: 100%;

  button {
    width: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
