.wrap {
  margin: $spacing-xxl auto 0;
  max-width: 35rem;
}

.header {
  margin-bottom: $spacing-xl;
  position: relative;

  h1 {
    margin-bottom: $spacing-xxs;
    font-size: $font-size-h2-mobile;

    @include respond-up($breakpoint-md) {
      font-size: $font-size-h2;
    }

    span {
      @include blind;
    }
  }

  p {
    color: $color-text-subtle;
  }
}

.divide {
  margin-top: $spacing-lg;
  position: relative;
  text-align: center;

  .divide_line {
    position: absolute;
    width: 100%;
    height: 1px;
    left: 50%;
    top: 50%;
    background-color: $color-border-default;
    z-index: -1;
    transform: translate(-50%, -50%);
  }

  .caption {
    padding: 0 $spacing-xs;
    display: inline-block;
    background-color: $color-white;
    font-size: $font-size-md;
    color: $color-text-subtle;
  }
}

.btn_group {
  margin-top: $spacing-sm;

  button {
    width: 100%;

    img {
      width: 100%;
      height: 4.5rem;
    }
  }
}

.link_group {
  margin: $spacing-md 0;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    font-size: $font-size-sm;
    color: $color-text-secondary;

    &:hover {
      text-decoration: underline;
    }
  }

  .divide {
    margin: 0 $spacing-lg;
    width: 1px;
    height: $font-size-sm;
    background-color: $color-border-default;
  }
}
