.wrap {
  margin: $spacing-32 auto;
  max-width: 35rem;
}

.header {
  margin-bottom: $spacing-24;
  position: relative;

  h1 {
    margin-bottom: $spacing-4;
    font-size: $font-size-26;

    @include respond-up($breakpoint-tablet-sm) {
      font-size: $font-size-34;
    }

    span {
      @include blind;
    }
  }

  p {
    color: $txt-tertiary;
  }
}

.divide {
  margin-top: $spacing-20;
  position: relative;
  text-align: center;

  .divide_line {
    position: absolute;
    width: 100%;
    height: 1px;
    left: 50%;
    top: 50%;
    background-color: $border-primary;
    z-index: -1;
    transform: translate(-50%, -50%);
  }

  .caption {
    padding: 0 $spacing-8;
    display: inline-block;
    background-color: $white;
    font-size: $font-size-14;
    color: $txt-tertiary;
  }
}

.btn_group {
  margin-top: $spacing-12;

  button {
    width: 100%;

    img {
      width: 100%;
      height: 4.5rem;
    }
  }
}

.link_group {
  margin: $spacing-16 0;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    font-size: $font-size-14;
    color: $txt-tertiary;
    text-decoration: underline;
    text-decoration-color: $txt-tertiary;

    &:hover {
      color: $txt-primary;
    }
  }

  p {
    margin-right: $spacing-8;
    color: $txt-tertiary;
  }

  .divide {
    margin: 0 $spacing-20;
    width: 1px;
    height: $font-size-13;
    background-color: $border-primary;
  }
}
