@mixin respond-fonts($width, $font-size) {
  @media screen and (min-width: $width) {
    html {
      font-size: $font-size;
    }
  }
}

@mixin respond-up($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}

@mixin respond($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

@mixin set-heading-fonts($sizes-map) {
  @each $heading, $size in $sizes-map {
    #{$heading} {
      font-size: $size;
    }
  }
}

@mixin blind {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  word-wrap: normal;
}

// TODO: renew
@mixin back-button-style {
  padding: 0 4rem;
  min-width: 14rem;
  min-height: 4rem;
  border-radius: 0.4rem;
  font-size: 1.4rem;
  line-height: 4rem;
}

@mixin action-button-style {
  padding: 0 4rem;
  min-width: 14rem;
  min-height: 4rem;
  border-radius: 0.4rem;
  font-size: 1.4rem;
  line-height: 4rem;
}

@mixin link-hover-style {
  text-decoration: underline;
  color: #1f5da9;
}

@mixin button-hover-style($options) {
  background-color: map-get($options, bg-color);
  color: map-get($options, text-color);

  &:hover {
    background-color: map-get($options, bg-hover-color);
  }
}

@mixin ellipsis-multi($lines: 2) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}
