.wrap {
  padding: 0 8rem;

  @include respond($breakpoint-xl) {
    padding: 0 4rem;
  }

  @include respond($breakpoint-lg) {
    padding: 0 2rem;
  }

  @include respond($breakpoint-md) {
    padding: 0;
  }
}

.title {
  margin-bottom: 3rem;

  @include respond($breakpoint-md) {
    margin-bottom: 1.4rem;
  }
}

$image_max_width: 20rem;

.detail {
  display: flex;
  gap: 3rem;

  @include respond($breakpoint-lg) {
    gap: 2rem;
  }

  .image_wrap {
    flex-basis: 40%;
    min-width: 10rem;
    max-width: $image_max_width;
    max-height: calc($image_max_width * 4 / 3);

    img {
      width: 100%;
      border-radius: 1.5rem;
      aspect-ratio: 3 / 4;
    }
  }

  .content {
    div {
      margin-bottom: 2rem;

      h5 {
        margin-bottom: 0.4rem;
        color: $color-primary;
      }

      li {
        color: $color-text-secondary;
      }

      @include respond($breakpoint-md) {
        margin-bottom: 1.2rem;
      }
    }
  }
}

.divide {
  margin: 5rem 0;
  width: 100%;
  height: 1px;
  border: 1px solid #eee;

  @include respond($breakpoint-md) {
    margin: 3rem 0;
  }
}
