// Scale
$color-blue-900: #0969b6;
$color-blue-800: #116eb9;
$color-blue-700: #1a73bb;
$color-blue-600: #2b7ec0;
$color-blue-500: #448dc8;
$color-blue-400: #6fa7d4;
$color-blue-300: #91bcde;
$color-blue-200: #aacbe6;
$color-blue-100: #d5e5f2;
$color-blue-50: #f7fafc;

$color-orange-900: #88430a;
$color-orange-800: #b95d00;
$color-orange-700: #e47712;
$color-orange-600: #f68b28;
$color-orange-500: #fb9f42;
$color-orange-400: #fdb46a;
$color-orange-300: #feca93;
$color-orange-200: #ffe4c3;
$color-orange-100: #fff0db;
$color-orange-50: #fff9f0;

$color-black: #000000;
$color-gray-900: #111827;
$color-gray-800: #1f2937;
$color-gray-700: #374151;
$color-gray-600: #4b5563;
$color-gray-500: #6b7280;
$color-gray-400: #9ca3af;
$color-gray-300: #d1d5db;
$color-gray-200: #e5e7eb;
$color-gray-100: #f3f4f6;
$color-gray-50: #f9fafb;
$color-white: #ffffff;

// Utility
$color-green-500: #10b981;
$color-red-500: #ef4444;

// Primary Actions
$color-primary: $color-blue-700;
$color-primary-active: $color-blue-900;
$color-primary-hover: $color-blue-800;
$color-primary-subtle: $color-blue-100;

// Secondary Actions
$color-secondary: $color-orange-700;
$color-secondary-active: $color-orange-900;
$color-secondary-hover: $color-orange-800;
$color-secondary-subtle: $color-orange-100;

// Backgrounds & Borders
$color-bg-body: $color-white;
$color-bg-default: $color-blue-50;
$color-bg-footer: $color-black;
$color-border-default: $color-gray-300;
$color-border-card: $color-blue-300;
$color-divide: $color-gray-300;

// Text
$color-text-default: $color-gray-900;
$color-text-secondary: $color-gray-700;
$color-text-subtle: $color-gray-500;
$color-text-link: $color-blue-700;
$color-text-link-active: $color-blue-900;
$color-text-inverse: $color-gray-50;

// Status
$color-status-success: $color-green-500;
$color-status-danger: $color-red-500;
$color-status-warning: $color-orange-600;
