$spacing-0: 0;
$spacing-min: 0.1rem;
$spacing-nano: 0.2rem;
$spacing-xxs: 0.4rem;
$spacing-xs: 0.8rem;
$spacing-sm: 1.2rem;
$spacing-md: 1.6rem;
$spacing-lg: 2.4rem;
$spacing-xl: 3.2rem;
$spacing-xxl: 4.8rem;
$spacing-xxxl: 6.4rem;
$spacing-xxxxl: 8rem;
$spacing-layout: 9.6rem;
