// Font Family
$font-family-base: var(--font-notosans);
$font-family-secondary: var(--font-myeongjo);

// Line Height
$line-height-reset: 1;
$line-height-heading: 1.25;
$line-height-base: 1.5;
$line-height-wide: 1.8;

// Font Weight
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// Letter Spacing
$letter-spacing-heading: -0.15rem;
$letter-spacing-tight: -0.1rem;
$letter-spacing-base: -0.05rem;

// Base Text Size
$font-size-body: calc(1rem + 0.25vw);
$font-size-default: 1.6rem;
$font-size-medium: 1.4rem;
$font-size-large: 1.8rem;
$font-size-small: 1.2rem;
$font-size-caption: 1rem;

// Heading Sizes
$font-size-h1: 4.2rem;
$font-size-h2: 3.4rem;
$font-size-h3: 2.8rem;
$font-size-h4: 2.2rem;
$font-size-h5: 2rem;

$font-size-h1-mobile: 3.2rem;
$font-size-h2-mobile: 2.6rem;
$font-size-h3-mobile: 2.2rem;
$font-size-h4-mobile: 2rem;
$font-size-h5-mobile: 1.8rem;

$heading-sizes: (
  'h1': $font-size-h1,
  'h2': $font-size-h2,
  'h3': $font-size-h3,
  'h4': $font-size-h4,
  'h5': $font-size-h5
);

$heading-sizes-mobile: (
  'h1': $font-size-h1-mobile,
  'h2': $font-size-h2-mobile,
  'h3': $font-size-h3-mobile,
  'h4': $font-size-h4-mobile,
  'h5': $font-size-h5-mobile
);
