.table {
  width: 100%;
  border-collapse: collapse;

  th {
    padding: $spacing-8 $spacing-12;
    background-color: $primary;
    color: $white;
    font-size: $font-size-15;

    font-weight: $font-weight-medium;
    text-align: center;

    &:first-child {
      width: 37%;
    }

    &:nth-child(2) {
      width: 33%;
    }

    &:nth-child(3) {
      width: 30%;
    }
  }

  tbody {
    text-align: center;
    word-break: keep-all;

    td {
      padding: $spacing-12;
      background-color: $bg-secondary;
      font-size: $font-size-14;
    }

    td:first-child {
      font-weight: $font-weight-medium;
    }
  }
}
