.about {
  padding: $spacing-64 0;
}

.container {
  display: flex;
  flex-direction: column;
  gap: $spacing-20;

  @include respond-up($breakpoint-tablet) {
    flex-direction: row;
  }
}

.image_container {
  order: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 35%;

  .frame {
    position: relative;
    width: 100%;
    border: 1px solid $border-primary;
    border-radius: $radius-m;
    aspect-ratio: 5 / 3;
    overflow: hidden;

    @include respond-up($breakpoint-tablet) {
      border: none;
      border-radius: 50%;
      aspect-ratio: 1 / 1;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.about_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 65%;

  & > span {
    margin-bottom: $spacing-8;
    display: inline-block;
    @include text-body-emphasis($color: $primary);
  }

  h2 {
    margin-bottom: $spacing-20;
  }

  .about_content {
    display: flex;
    flex-direction: column;
    gap: $spacing-16;

    p {
      letter-spacing: -0.05rem;
      line-height: $line-height-loose;
    }
  }

  .about_link {
    margin-top: $spacing-8;
    width: fit-content;
    display: inline-block;
    padding-bottom: $spacing-2;
    color: $txt-link;
    font-weight: $font-weight-medium;
    text-decoration: none;
    border-bottom: $spacing-1 solid transparent;
    transition:
      border-color $transition-duration-normal $transition-easing-default,
      opacity $transition-duration-normal $transition-easing-default;

    &:hover {
      border-color: $txt-link;
      opacity: 0.8;
    }
  }
}
