$desktop-gradient: linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));
$mobile-gradient: linear-gradient(180deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4));
$banner-image-url: 'https://ndimreqwgdiwtjonjjzq.supabase.co/storage/v1/object/public/homepage_assets/banner_wide.png';

.banner {
  --banner-gradient: #{$mobile-gradient};
  padding: $spacing-xxxxl 0;
  background-image: var(--banner-gradient), url($banner-image-url);
  background-position:
    0 0,
    40% top;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  z-index: 1;

  .content {
    display: flex;
    flex-direction: column;
    gap: $spacing-xs;
  }

  h1 {
    color: $color-text-inverse;
    animation: slideUp 0.6s ease-out;
  }

  p {
    color: $color-text-inverse;
    line-height: $line-height-wide;
    animation: slideUp 0.6s ease-out;
  }

  .learn_more {
    padding: $spacing-xs $spacing-xl;
    margin-top: $spacing-xs;
    display: inline-block;
    width: fit-content;
    background-color: $color-gray-100;
    border-radius: $border-radius-lg;
    font-size: $font-size-small;
    color: $color-black;
    animation: slideUp 0.6s ease-out;
    transition: transform 325ms cubic-bezier(0, 0, 0.2, 1);

    &:hover {
      transform: scale(1.05);
    }
  }

  @include respond-up($breakpoint-lg) {
    --banner-gradient: #{$desktop-gradient};
    padding: $spacing-layout 0;
    background-position:
      0 0,
      0 10%;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
