$desktop-gradient: linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));
$mobile-gradient: linear-gradient(180deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4));

.banner_container {
  position: relative;
}

.banner {
  --banner-gradient: #{$mobile-gradient};
  position: relative;
  padding: $spacing-xxxxl 0;
  z-index: 1;

  @include respond-up($breakpoint-md) {
    --banner-gradient: #{$desktop-gradient};
    padding: $spacing-layout 0;
  }

  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: $spacing-sm;
    z-index: 2;
  }

  .banner_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 45% 10%;
    z-index: 0;
  }

  .overlay {
    position: absolute;
    inset: 0;
    background: var(--banner-gradient);
    z-index: 1;
  }

  h1 {
    color: $color-text-inverse;
    animation: slideUp 0.6s ease-out;
  }

  p {
    color: $color-text-inverse;
    line-height: $line-height-wide;
    animation: slideUp 0.6s ease-out;
  }

  .learn_more {
    padding: $spacing-sm $spacing-xl;
    margin-top: $spacing-xs;
    display: inline-block;
    width: fit-content;
    background-color: $color-gray-100;
    border-radius: $border-radius-lg;
    font-size: $font-size-md;
    color: $color-black;
    animation: slideUp 0.6s ease-out;
    transition: transform 325ms cubic-bezier(0, 0, 0.2, 1);

    &:hover {
      transform: scale(1.05);
    }
  }

  @include respond-up($breakpoint-md) {
    --banner-gradient: #{$desktop-gradient};
    padding: $spacing-layout 0;
    background-position:
      0 0,
      50% 10%;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
