.banner {
  padding: 10rem 0;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('https://ndimreqwgdiwtjonjjzq.supabase.co/storage/v1/object/sign/home_banner/banner.png?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV8zYjA5NTM3Ny0wZDAxLTRkZmEtYTczYy0zNzYwZTdiOWFiNWEiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJob21lX2Jhbm5lci9iYW5uZXIucG5nIiwiaWF0IjoxNzYwMDIxODc1LCJleHAiOjE3OTE1NTc4NzV9.LprzZn0_hfpvBLRqv3MYnaxjBpfzDvZbuj8aZXnrI5Y');
  background-position: 0 0 0 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}
