.vision {
  padding: $spacing-64 0;
  background-color: $bg-secondary;
}

.title {
  margin-bottom: $spacing-20;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: $font-weight-medium;

  .caption {
    display: inline-block;
    font-size: $font-size-15;
    font-weight: $font-weight-semibold;
    color: $primary;
  }

  h2 {
    margin-top: $spacing-8;
  }
}

.feature_container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include respond-up($breakpoint-tablet) {
    flex-direction: row;
    gap: $spacing-16;
  }

  .feature {
    padding: $spacing-20;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing-8;
    border-radius: $radius-m;

    h3 {
      font-size: $font-size-18;
    }

    @include respond-up($breakpoint-mobile-lg) {
      padding: $spacing-24 $spacing-8;
      max-width: 75%;

      h3 {
        font-size: $font-size-20;
      }
    }

    .icon {
      margin-bottom: $spacing-8;

      svg {
        width: 6rem;
        height: 6rem;
      }
    }

    p {
      text-align: center;
      line-height: $line-height-wide;
    }
  }
}
