.greeting {
  background-color: $color-bg-default;
  padding: $spacing-xxl 0;

  .container {
    text-align: center;

    p {
      margin-bottom: $spacing-xs;
      font-size: $font-size-large;
      font-style: italic;
      font-weight: $font-weight-regular;
    }

    span {
      display: block;
      font-size: $font-size-medium;
      font-style: italic;
      font-weight: $font-weight-regular;
      color: $color-text-subtle;
    }
  }
}
