.swiper {
  cursor: pointer;

  img {
    width: 100%;
    height: 40rem;
    object-fit: cover;

    @include respond($breakpoint-md) {
      height: 25rem;
    }
  }

  :global(.swiper-pagination-bullet) {
    background-color: transparent !important;
    border: 1.4px solid $color-primary;
  }

  :global(.swiper-pagination-bullet-active) {
    background-color: $color-primary !important;
  }
}
