.about {
  padding: $spacing-xxxl 0;

  @include respond-up($breakpoint-md) {
    padding: $spacing-layout 0;
  }
}

.title {
  margin-bottom: $spacing-xl;
  display: flex;
  flex-direction: column;
  align-items: center;

  .caption {
    display: inline-block;
    font-size: $font-size-medium;
    font-weight: $font-weight-semibold;
    color: $color-primary;
  }

  h2 {
    margin: $spacing-md 0;
  }
}

.feature_container {
  display: flex;
  flex-direction: column;
  gap: $spacing-xl;

  @include respond-up($breakpoint-md) {
    flex-direction: row;
  }

  .feature {
    padding: 0 $spacing-lg;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing-xs;

    .icon {
      svg {
        width: 5rem;
        height: 5rem;
      }
    }

    p {
      font-size: $font-size-small;
      text-align: center;
    }
  }
}
