.about {
  padding: $spacing-xxxl 0;
  background-color: $color-bg-default;

  @include respond-up($breakpoint-md) {
    padding: $spacing-layout 0;
  }
}

.title {
  margin-bottom: $spacing-xl;
  display: flex;
  flex-direction: column;
  align-items: center;

  .caption {
    display: inline-block;
    font-size: $font-size-medium;
    font-weight: $font-weight-semibold;
    color: $color-primary;
  }

  h2 {
    margin: $spacing-md 0;
  }
}

.feature_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-md;

  @include respond-up($breakpoint-md) {
    flex-direction: row;
  }

  .feature {
    padding: $spacing-xl;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing-xs;
    max-width: 85%;
    background-color: $color-white;
    border-radius: $border-radius-lg;

    @include respond-up($breakpoint-md) {
      padding: $spacing-xl $spacing-xs;
    }

    .icon {
      position: relative;

      svg {
        width: 5rem;
        height: 5rem;
      }
    }

    p {
      font-size: $font-size-small;
      text-align: center;
      word-break: keep-all;
    }
  }
}
