.home_gallery {
  padding: 2rem 0 0 0;
  background-color: #f8f8f8;

  .heading {
    display: flex;
    align-items: flex-end;

    h2 {
      margin-left: 2rem;
      font-size: 2.4rem;

      @include respond($breakpoint-md) {
        font-size: 1.6rem;
      }
    }

    a {
      margin-left: 0.2rem;
      display: inline-block;
      height: fit-content;

      svg {
        font-size: 2.4rem;

        @include respond($breakpoint-md) {
          font-size: 1.6rem;
        }
      }

      &:hover {
        color: $primary-color;
      }
    }
  }

  .swiper {
    padding: 2rem;
  }

  :global(.swiper-wrapper) {
    width: 100%;
    -webkit-transition-timing-function: linear !important;
    -o-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
  }

  :global(.swiper-slide) {
    margin-right: 2rem;
    width: 20rem !important;
    height: 20rem !important;
    overflow: hidden;
    background-position: top;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-weight: bold;

    a {
      display: inline-block;
      width: 100%;
      height: 100%;

      img {
        display: block;
        width: inherit;
        height: inherit;
        object-fit: cover;
        border-radius: 1rem;
      }
    }

    @include respond($breakpoint-md) {
      width: 15rem !important;
      height: 15rem !important;
    }
  }
}
