.about {
  background-color: #e5e7eb;

  .container {
    padding: 10rem 2rem;
    margin: 0 auto;
    max-width: $max-width;

    .content_wrap {
      margin: 0 auto;

      .image {
        img {
          width: 40rem;
          aspect-ratio: 4 / 3;
        }
      }
    }
  }
}
