.form {
}

.group {
  margin-bottom: 1.6rem;

  label {
    margin-bottom: 1rem;
    display: block;
    width: 100%;
    font-size: 2rem;
    font-weight: 600;
  }

  input[type='text'] {
    padding: 0.8rem 1rem;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 0.4rem;
    outline-color: #aaa;
    font-size: 1.4rem;
    line-height: $font-line-height;
  }

  input[type='text']::placeholder {
    font-size: 1.4rem;
  }
}

.image_preview {
  label {
    margin-bottom: 0.6rem;
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 600;
  }
}

.submit {
  margin-top: 3rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;

  button,
  a {
    padding: 0 4rem;
    min-width: 14rem;
    min-height: 4rem;
    border-radius: 0.4rem;
    font-size: 1.4rem;
    line-height: 4rem;
  }

  button {
    background-color: $primary-color;
    color: white;
  }

  a {
    display: inline-block;
    text-align: center;
    background-color: #f3f4f6;
  }

  @include respond($breakpoint-md) {
    justify-content: center;

    button,
    a {
      width: 100%;
    }
  }
}
