.header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  background: $color-white;
  z-index: 9999;
}

.header_wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
  height: $header-height;
  background-color: inherit;
  box-shadow: 0 1px 20px 0 rgba(239, 227, 221, 0.35);
}

.logo {
  flex: 0 0 auto;

  a {
    font-size: $font-size-lg;
    font-weight: $font-weight-bold;
  }
}

.desktop_nav {
  display: none;

  @include respond-up($breakpoint-md) {
    margin-left: auto;
    display: block;

    ul {
      display: flex;
      gap: 4rem;

      li {
        font-size: $font-size-default;
      }
    }
  }
}

.toggle {
  display: inline-flex;

  button {
    display: inline-flex;
  }
  svg {
    width: 1.8rem;
    height: 1.8rem;
  }

  @include respond-up($breakpoint-md) {
    display: none;
  }
}

.auth {
  display: none;

  @include respond-up($breakpoint-md) {
    display: block;
  }
}
