.header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;

  background: transparent;
  color: $color-white;
  transition:
    background 0.25s ease,
    box-shadow 0.25s ease;

  background-clip: padding-box;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3);
}

.scrolled {
  background: $color-white;
  color: $color-text-default;
}

.header_wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
  height: $header-height;
}
