.toggle {
  display: inline-flex;

  button {
    display: inline-flex;
  }
  svg {
    width: 2.8rem;
    height: 2.8rem;
    color: inherit;
  }

  @include respond-up($header-breakpoint) {
    display: none;
  }
}
