$item-gap: 0.8rem;

.container {
  margin-bottom: $spacing-md;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: $item-gap;
}

.preview {
  padding: $spacing-xs $spacing-sm;
  display: flex;
  flex-basis: 100%;
  gap: $spacing-sm;
  border: 0.1rem solid $color-border-primary-inverse;
  border-radius: $border-radius-lg;

  @include respond-up($breakpoint-lg) {
    flex-basis: calc(50% - ($item-gap / 2));
  }
}

.image_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 8rem;
  width: 8rem;
  height: 8rem;
  border-radius: $border-radius-lg;

  img {
    max-width: 100%;
    max-height: 100%;
    border-radius: $border-radius-lg;
  }
}

.file_info {
  flex: 1;
  color: $color-text-secondary;
  word-break: break-all;

  h5 {
    margin-bottom: $spacing-xxs;
    font-size: $font-size-sm;
    color: $color-primary;
    @include ellipsis-multi(2);
  }

  .meta_data {
    span {
      margin-bottom: $spacing-nano;
      display: block;
      font-size: $font-size-xs;
      color: $color-text-subtle;
    }
  }
}

.button_wrap {
  display: inline-flex;
  align-items: center;

  button:hover {
    color: $color-primary;
  }
}
