.container {
}

.upload_area {
  padding: $spacing-xxl $spacing-md;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 0.2rem dashed $color-border-card;
  background-color: $color-bg-default;
  border-radius: $border-radius-lg;
  text-align: center;

  & > input[type='file'] {
    display: none;
  }

  p {
    margin-bottom: $spacing-lg;
    font-size: $font-size-sm;
  }

  &.dragging {
    border-color: $color-primary-active;
    background-color: $color-bg-hover;

    p {
      color: $color-primary;
      font-weight: $font-weight-semibold;
    }
  }

  .select_button {
    padding: $spacing-xs $spacing-sm;
    display: inline-block;
    background-color: $color-primary;
    border-radius: $border-radius-lg;
    font-size: $font-size-xs;
    color: white;
    cursor: pointer;

    svg {
      margin-right: $spacing-xxs;
      transform: translateY(0.1rem);
    }
  }
}
