.spinner {
  display: inline-block;
  width: $font-size-15;
  height: $font-size-15;
  border: 2px solid $white;
  border-bottom-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
