.container {
  padding: $spacing-64 $spacing-20;
  margin: 0 auto;
  max-width: $container-max;

  .title {
    margin-bottom: $spacing-80;
    text-align: center;

    h2 {
      display: inline-block;
      position: relative;
      font-weight: $font-weight-bold;

      &::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: -1rem;
        margin: 0 auto;
        width: 50%;
        height: 0.28rem;
        background-color: $primary;
        transform: translateX(-50%);
      }
    }
  }

  @include respond($breakpoint-tablet-sm) {
    .title {
      margin-bottom: $spacing-64;
    }
  }
}
