.container {
  padding: $spacing-xxxl $spacing-lg;
  margin: 0 auto;
  max-width: $max-width;

  .title {
    margin-bottom: $spacing-xxxxl;
    text-align: center;

    h2 {
      display: inline-block;
      position: relative;
      font-weight: $font-weight-bold;

      &::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: -1rem;
        margin: 0 auto;
        width: 50%;
        height: 0.28rem;
        background-color: $color-primary;
        transform: translateX(-50%);
      }
    }
  }

  @include respond($breakpoint-md) {
    .title {
      margin-bottom: $spacing-xxxl;
    }
  }
}
