.subnav {
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 4rem;
    background-color: $color-bg-footer;
  }

  li {
    font-size: 1.4rem;
    color: white;

    &:hover {
      color: $color-primary;
    }

    a {
      padding: 0.4rem;
      display: block;
    }
  }

  .isActive {
    font-weight: 500;
    color: $color-primary;
  }
}
