.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25rem;
  overflow: hidden;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
  }

  h2 {
    margin-bottom: 1rem;
    font-size: $font-size-h2;
    font-weight: bold;
    line-height: 1;
    color: white;
    z-index: 2;
  }

  p {
    font-size: 1.4rem;
    font-weight: 500;
    color: white;
    z-index: 2;
  }

  .hero_image {
    object-fit: cover;
    object-position: 50% 0%;
    z-index: 0;
  }

  @include respond($breakpoint-md) {
    height: 20rem;

    h2 {
      font-size: $font-size-h2-mobile;
    }
  }
}
