.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25rem;
  overflow: hidden;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
  }

  .content {
    position: relative;
    text-align: center;
    color: $color-white;
    z-index: 10;

    h2 {
      margin-bottom: $spacing-sm;
      font-size: $font-size-h2;
      line-height: 1;
      color: $color-white;
    }

    p {
      font-size: $font-size-md;
      color: $color-white;
    }
  }

  .hero_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    z-index: 0;
  }

  @include respond($breakpoint-md) {
    height: 20rem;

    h2 {
      font-size: $font-size-h2-mobile;
    }
  }
}
