.table {
  margin-bottom: $spacing-sm;
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: $spacing-sm;
  }

  th:first-child,
  td:first-child {
    width: 17%;
  }

  thead {
    tr {
      border-top: 0.1rem solid $color-border-primary;
      border-bottom: 0.1rem solid $color-border-primary;
    }
  }

  tr {
    border-bottom: 0.1rem solid $color-border-primary-inverse;
  }

  th {
    background-color: $color-bg-default;
    font-size: $font-size-md;
    font-weight: $font-weight-semibold;
    text-align: center;
  }

  td:first-child {
    text-align: center;
  }

  td {
    font-size: $font-size-sm;

    a:hover {
      color: $color-text-link;
      text-decoration: underline;
      text-decoration-line: $color-text-link;
    }
  }
}
