.group {
  margin-bottom: $spacing-md;

  label {
    margin-bottom: 1rem;
    display: block;
    width: 100%;
    font-size: 2rem;
    font-weight: 600;
  }

  input {
    padding: 0.8rem 1rem;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 0.4rem;
    outline-color: #aaa;
    font-size: 1.4rem;
  }

  input::placeholder {
    font-size: 1.4rem;
  }
}

.image_preview {
  label {
    margin-bottom: 0.6rem;
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 600;
  }
}

.submit {
  margin-top: 3rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;

  button,
  a {
    @include action-button-style;
  }

  button {
    @include button-hover-style(
      (
        bg-color: $color-primary,
        bg-hover-color: $color-primary-hover,
        text-color: white
      )
    );
  }

  a {
    display: inline-block;
    text-align: center;

    @include button-hover-style(
      (
        // bg-color: $button-color,
        // bg-hover-color: $button-hover-color,
        text-color: inherit
      )
    );
  }

  @include respond($breakpoint-md) {
    justify-content: center;

    button,
    a {
      width: 100%;
    }
  }
}
