$greeting_text_size: 2.1rem;
$greeting_text_margin_bottom: 3rem;

.wrap {
  display: flex;
  gap: 2rem;

  @include respond($breakpoint-xl) {
    flex-direction: column;
  }
}
.vision_text {
  flex: 2;

  .greeting_text {
    margin-bottom: $greeting_text_margin_bottom;
    font-size: $greeting_text_size;
    line-height: $greeting_text_size;

    em {
      font-weight: 600;
      font-style: normal;
    }
  }

  p {
    margin-bottom: 2rem;
    color: $color-text-secondary;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.image_wrap {
  padding-top: calc($greeting_text_size + $greeting_text_margin_bottom);
  flex: 1;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }

  @include respond($breakpoint-xl) {
    padding-top: 0;
  }
}
