.container {
  padding: $spacing-0 $spacing-lg;

  @include respond($breakpoint-lg) {
    padding: $spacing-0;
  }

  div:first-child {
    margin-bottom: $spacing-xxl;
  }
}

.schedule {
  h4 {
    margin-bottom: $spacing-md;
    padding-left: $spacing-md;
    position: relative;
  }

  h4::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: $spacing-xs;
    height: $spacing-xs;
    background-color: $primary;
    border-radius: 50%;
    transform: translateY(-50%);
  }
}
