.container {
  padding: 0 2rem;

  @include respond($breakpoint-lg) {
    padding: 0;
  }

  div:first-child {
    margin-bottom: 4rem;
  }
}

.schedule {
  h4 {
    margin-bottom: 1.4rem;
    padding-left: 1.6rem;
    position: relative;
    font-size: $font-size-h4;

    @include respond($breakpoint-md) {
      font-size: $font-size-h4-mobile;
    }
  }

  h4::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 0.8rem;
    height: 0.8rem;
    background-color: $color-primary;
    border-radius: 50%;
    transform: translateY(-50%);
  }
}
